/* Color palette */
$very-dark-blue: hsl(207, 26%, 17%);  /* Darkmode Background */
$dark-blue: hsl(209, 23%, 22%); /* Darkmode Elements */
$white-color: hsl(0, 0%, 100%); /* Dark Mode Text */
$light-dark-blue: hsl(200, 15%, 8%);  /* Light Mode Text */
$dark-gray: hsl(0, 0%, 52%);  /* Light Mode Input */ 
$very-light-gray: hsl(0, 0%, 98%); /* Light Mode Background */


/* Setted for DarkMode */
:root {
    --primary-color: hsl(207, 26%, 17%); /* Darkmode Background */
    --secondary-color: hsl(209, 23%, 22%); /* Darkmode Elements */
    --text-color: hsl(0, 0%, 100%); /* Dark Mode Text */
    --shadow-background: #1E2B34; /* Box Shadow  */
}

/* Lightmode Theme */
.light-theme {
    --primary-color: #FAFAFA; /* lightmode Background */
    --secondary-color: #FFFFFF; /* lightmode Elements */
    --text-color: #17181A; /* lightmode Text */
    --shadow-background: #F0F0F0; /* Box Shadow  */
}


/* Font size and family */
$fw-300: 300;
$fw-600: 600;
$fw-800: 800;
$fs-14: 14px;
$fs-16: 16px;

/* Mixins */

@mixin rowDetails($width, $margin, $padding) {
    max-width: $width;
    margin: $margin;
    padding: $padding;
};

@mixin flexUtils($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin cardItemUtils($color, $font, $weight) {
    color: $color;
    font-size: $font;
    font-weight: $weight;
}

@mixin buttonUtils($border, $border_r, $outline) {
    border: $border;
    border-radius: $border_r;
    outline: $outline;
}
