/* Color palette */
$dark-blue: hsl(209, 23%, 22%); /* Darkmode Elements */
$very-dark-blue: hsl(207, 26%, 17%);  /* Darkmode Background */
$light-dark-blue: hsl(200, 15%, 8%);  /* Light Mode Text */
$dark-gray: hsl(0, 0%, 52%);  /* Light Mode Input */ 
$very-light-gray: hsl(0, 0%, 98%); /* Light Mode Background */
$white-color: hsl(0, 0%, 100%); /* Dark Mode Text */

/* Font size and family */
$fw-300: 300;
$fw-600: 600;
$fw-800: 800;
$fs-14: 14px;
$fs-16: 16px;

/* Mixins */

@mixin rowDetails($width, $margin, $padding) {
    max-width: $width;
    margin: $margin;
    padding: $padding;
};

@mixin flexUtils($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin cardItemUtils($color, $font, $weight) {
    color: $color;
    font-size: $font;
    font-weight: $weight;
}

@mixin buttonUtils($border, $border_r, $outline) {
    border: $border;
    border-radius: $border_r;
    outline: $outline;
}
