/* Utils stylesheet */
@import '../../styles/utils.scss';

.helmet {
    max-width: 100%;
    background-color: $very-dark-blue;
    padding: 0 !important;
}

.homepage {
    height: calc(100vh - 80px) !important;
    background-color: $very-dark-blue;
    color: $white-color;
}

.row {
    @include rowDetails(1440px !important, 0 auto !important, 0px 65px 0px 65px !important);
    height: fit-content;
}

/* Back Btn */
.col_back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0% !important;
    height: 40px;
    margin-top: 80px !important;
    margin-bottom: 80px;
}

/* Back to homepage */
.redirect {
    /* Dimensions */
    width: 135px;
    height: 100%;
    /* Style */
    background-color: $dark-blue;
    color: $white-color;
    font-size: $fs-16;
    font-weight: $fw-600;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 0.5px rgb(15 15 15);
    text-decoration: none;
    /* Align */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Icon */
    span:first-of-type {
        padding-right: 10px;
    }
} 

.redirect:hover {
    text-decoration: none;
    color: $white-color;
}


/* Flag */
.flag {
    width: fit-content;
    height: fit-content;
    padding: 0% !important;
    object-fit: cover;
    /* Img */
    img {
        width: 525px;
        height: 350px;
        
    }
}

/* country_data */
.country_data {
    border: 1px solid black;
    height: fit-content;
    padding: 0% !important;
}
/* country_title */
.country_title {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    /* H4 */
    h4 {
        margin-bottom: 0;
        color: $white-color;
        font-size: 30px;
        font-weight: $fw-800;
    }
}


/* country_data_wrapper */
.country_data_wrapper {
    @include flexUtils(flex, flex-start, flex-start);
}

.data_wrapper_left {
    margin-right: 150px;
}

.data_wrapper_left,
.data_wrapper_right {
    width: fit-content;
    height: fit-content;
    /* Unordered List */
    ul {
        padding-left: 0% !important;
        margin-bottom: 0% !important;
        list-style: none;
        line-height: 32px;
        /* Single List Item */
        li {
            span:nth-child(1){
                @include cardItemUtils($white-color, $fs-16, $fw-600);
            }
            span:nth-child(2){
                @include cardItemUtils($white-color, $fs-16, $fw-300)
            }  
        }
    }
}

/* country_borders */
.country_borders {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* Title */
    span{
        @include cardItemUtils($white-color, $fs-16, $fw-600);
    }
}

.borders {
    display: inline;
    /* Button Country */
    span {
        @include cardItemUtils($white-color, $fs-16, $fw-300);
        font-weight: $fw-300;
        margin-left: 10px;
        margin-bottom: 5px;
        padding: 5px 20px 5px 20px;
        background-color: $dark-blue;
        outline: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(15 15 15);
    }
}

/* Media Queries for 375px */
@media only screen and (max-width: 375px) {
    .row  {
        padding: 0px !important;
    }
}