/* Utils stylesheet */
@import '../../styles/utils.scss';

.helmet {
    max-width: 100%;
    background-color: $very-dark-blue;
    padding: 0 !important;
}

.homepage {
    height: calc(100vh - 80px);
    background-color: $very-dark-blue;
    color: $white-color;
}

.row {
    @include rowDetails(1440px !important, 0 auto !important, 0px 65px 0px 65px !important);
    height: fit-content;
}

@media only screen and (max-width: 1440px) {
    
    .homepage {
        height: fit-content !important;
        margin-bottom: 40px;
    }

    .row  {
        height: fit-content !important;
        margin-bottom: 50px;
    }
}


/* Media Queries for 375px */
@media only screen and (max-width: 375px) {
    .row  {
        padding: 0px !important;
    }
}

/* Light Mode */