/* Utils stylesheet */
@import '../../styles/utils.scss';

.helmet {
    max-width: 100%;
    background-color: $very-dark-blue;
}

.homepage  {
    position: relative;
    height: calc(100vh - 80px);
    background-color: $very-dark-blue;
    color: $white-color;
}
/* Classes for Pagination */
.pagination {
    position: absolute;
    bottom: 0;
    left:0;
    transform: translateY(-50%)
}

.row {
    @include rowDetails(1440px !important, 0 auto !important, 0px 65px 0px 65px !important);
}


/* M.Queries for 1440px */
@media only screen and (min-width: 1439px) {
    .homepage {
        padding-bottom: 10px;
    }
    .pagination {
        position: absolute;
        bottom: 0;
        left:0;
        transform: translateY(-50%)
    }
    .row  {
        margin-bottom: 50px;
    }
}


/* Media Queries for 375px */
@media only screen and (max-width: 375px) {
    .row  {
        padding: 0px !important;
    }
}

/* Light Mode */