/* Utils stylesheet */
@import '../../styles/utils.scss';

.helmet {
    max-width: 100%;
    background-color: $very-dark-blue;
}

.homepage {
    height: calc(100vh - 80px) !important;
    background-color: $very-dark-blue;
    color: $white-color;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    padding: 0px 65px 0px 65px !important;
}

/* Media Queries for 375px */
@media only screen and (max-width: 375px) {
    .row  {
        padding: 0px !important;
    }
}

/* Light Mode */