/* Utils stylesheet */
@import '../../styles/utils.scss';

.links_to {
    text-decoration: none;
}

.card {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 3px 1px var(--shadow-background);
}

.card_img {
    /* Dimensions */
    width: 100%;
    height: 170px;
    object-fit: cover;
    /* Style */    
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* Img */
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.card_info {
    padding: 1.25rem 1.25rem;
    background-color: var(--secondary-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    li {
        list-style: none;
    }
}

.card_info .title {
    @include cardItemUtils(var(--text-color), $fs-16, $fw-800);
    padding-bottom: 0.75rem;
}

.card_item {
    line-height: 28px;
    span:nth-child(1){
        @include cardItemUtils(var(--text-color), $fs-14, $fw-600);
    }
    span:nth-child(2){
        @include cardItemUtils(var(--text-color), $fs-14, $fw-300)
    }    
}