/* Utils stylesheet */
@import '../../styles/utils.scss';

/* Height */
.header {
    height: 80px;
    background-color: $dark-blue;
    color: $white-color;
}

.row {
    @include rowDetails(1440px !important, 0 auto !important, 0px 65px 0px 65px !important);
    height: 100%;
}

.link,
.link:hover {
    @include cardItemUtils($white-color, 20px, $fw-800);
    text-decoration: none;
}

.toggle {
    @include cardItemUtils($white-color, $fs-16, $fw-600);
    /* Spacing */
    @include flexUtils(flex, center, space-around);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.mode_icon {
    color: $white-color;
    padding-right: 10px;
}

/* Light Mode */
