/* Utils stylesheet */
@import '../../styles/utils.scss';

/* LightMode */
.header_light {
    height: 80px;
    background-color: $very-light-gray;
    color: $light-dark-blue;
}

/* DarkMode */
.header_dark {
    height: 80px;
    background-color: $dark-blue;
    color: $white-color;
}

/* row */
.row_header {
    @include rowDetails(1440px !important, 0 auto !important, 0px 65px 0px 65px !important);
    height: 100%;
}

.link,
.link:hover {
    @include cardItemUtils(inherit, 20px, $fw-800);
    text-decoration: none;
}

.toggle {
    @include cardItemUtils(inherit, $fs-16, $fw-600);
    /* Spacing */
    @include flexUtils(flex, center, space-around);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    /* mode_icon */
    .mode_icon {
        color: inherit;
        padding-right: 10px;
    }
}