/* Utils stylesheet */
@import '../../styles/utils.scss';


.header {
    height: 80px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}


/* row */
.row_header {
    @include rowDetails(1440px !important, 0 auto !important, 0px 65px 0px 65px !important);
    height: 100%;
}

.link,
.link:hover {
    @include cardItemUtils(var(--text-color), 20px, $fw-800);
    text-decoration: none;
}

.toggle {
    @include cardItemUtils(var(--text-color), $fs-16, $fw-600);
    /* Spacing */
    @include flexUtils(flex, center, space-around);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    /* mode_icon */
    .mode_icon {
        color: var(--text-color);
        padding-right: 10px;
    }
}