/* Utils stylesheet */
@import '../../styles/utils.scss';

.row {
    @include rowDetails(1440px !important, 40px auto !important, 0px !important);
    height: 55px;
    /* Internal Items */
    @include flexUtils(flex, center, space-between);
}

/* Col utils */
.col {
    padding: 0% !important;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 2px var(--shadow-background);
}

/* Column for Input Search */
.search_col,
.search_button {
    background-color: var(--secondary-color);
    outline: none;
    border: none;
}

.search_col {
    height: 55px;
    border-radius: 5px;
    @include flexUtils(flex, center, space-between);
    box-shadow: 0px 0px 2px var(--shadow-background);
}

/* Input Search Button */
.search_button {
    width: 75px;
    background-color: inherit;
    color: var(--text-color);
    height: 100%;
    @include flexUtils(flex, center, center);
}

/* Input field */
.search_input {
    width: calc(100% - 75px);
    height: 100%;
    /* Input text */
    input {
        @include cardItemUtils(var(--text-color), $fs-16, $fw-600);
        background-color: inherit;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }
    input::placeholder {
        @include cardItemUtils(var(--text-color), $fs-16, $fw-300);
    }
}

/*#region Dropdown menu selector */
.dropdown_container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 3px var(--shadow-background);
    position: relative;
}

.dropdown_header,
.dropdown_list {
    @include cardItemUtils(var(--text-color), $fs-14, $fw-600);
    background-color: inherit;
    border-radius: 5px;
}

.dropdown_header {
    height: 55px;
    padding: 0 1.25rem 0 1.25rem;
    cursor: pointer;
    /* Flex Items */
    @include flexUtils(flex, center, space-between);
}

.dropdown_arrow {
    scale: 2;
    cursor: pointer;
} 

.dropdown_list {
    position: absolute;
    box-shadow: 0px 0px 3px var(--shadow-background);
    background-color: var(--secondary-color);
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1.25rem;
    line-height: 1.75rem;
}

.list_item {
    list-style: none;
    cursor: pointer;
}

/*#endegion */