/* Utils stylesheet */
@import '../../styles/utils.scss';

.pagination_wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* Button */
    button {
        background-color: $dark-gray;
        color: $white-color;
        width: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-right: 0.65rem;
    }
}

button.active_page {
    color: $dark-gray;
    background-color: $white-color;
}
