/* Utils stylesheet */
@import '../../styles/utils.scss';

.pagination_wrapper {
    padding-top: 20px;
    @include flexUtils(flex, center, center);
    height: 40px;
    /* Button */
    button {
        @include cardItemUtils(var(--text-color), $fs-16, $fw-600);
        background-color: var(--secondary-color);
        width: 30px;
        @include buttonUtils(none, 5px, none);
        margin-right: 0.65rem;
    }
}

button.active_page {
    color: var(--primary-color);
    background-color: var(--text-color);
}
